@{
    ViewBag.Title = "LoginedClient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Roles</title>
</head>
<body id="ext-gen1018" class="x-body x-webkit x-chrome x-reset">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <div class="x-panel x-panel-default" style="height:700px;" id="panel-1009">
        <div class="x-panel-header x-docked x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top x-unselectable" id="panel-1009_header" style="-webkit-user-select: none; width: 1903px;">
            <div id="panel-1009_header-body" class="x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-panel-header-body-default-horizontal x-panel-header-body-default-top x-panel-header-body-default-docked-top x-box-layout-ct" style="width: 1891px;">
                <div id="panel-1009_header-innerCt" class="x-box-inner " role="presentation" style="width: 1891px; height: 16px;">
                    <div id="panel-1009_header-targetEl" style="position: absolute; width: 1891px; left: 0px; top: 0px; height: 1px;">
                        <div class="x-component x-panel-header-text-container x-box-item x-component-default" style="text-align: left; left: 0px; top: 0px; margin: 0px; width: 1891px;" id="panel-1009_header_hd">
                            <span id="panel-1009_header_hd-textEl" class="x-panel-header-text x-panel-header-text-default">FurnitureStore</span>
                            <a style="right: auto" href="@Url.Action("Logout", "Home")">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel-1009-body" class="x-panel-body x-panel-body-default x-panel-body-default x-border-layout-ct" style="width: 1903px; height: 675px; left: 0px; top: 25px;">
            <div class="x-panel x-border-item x-box-item x-panel-default" style="padding: 3px; width: 150px; left: 0px; top: 0px; margin: 0px; height: 673px;" id="panel-1010">
                <div class="x-panel-header x-docked x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top x-unselectable" id="panel-1010_header" style="-webkit-user-select: none; left: 3px; top: 3px; width: 144px;">
                    <div id="panel-1010_header-body" class="x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-panel-header-body-default-horizontal x-panel-header-body-default-top x-panel-header-body-default-docked-top x-box-layout-ct" style="width: 132px;">
                        <div id="panel-1010_header-innerCt" class="x-box-inner " role="presentation" style="width: 132px; height: 16px;">
                            <div id="panel-1010_header-targetEl" style="position: absolute; width: 132px; left: 0px; top: 0px; height: 1px;">
                                <div class="x-component x-panel-header-text-container x-box-item x-component-default" style="text-align: left; left: 0px; top: 0px; margin: 0px; width: 132px;" id="panel-1010_header_hd">
                                    <span id="panel-1010_header_hd-textEl" class="x-panel-header-text x-panel-header-text-default">Navigation</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x-toolbar x-docked x-toolbar-default x-docked-top x-toolbar-docked-top x-toolbar-default-docked-top x-box-layout-ct" id="toolbar-1011" style="left: 3px; top: 28px; width: 144px;">
                    <div id="toolbar-1011-innerCt" class="x-box-inner " role="presentation" style="width: 140px; height: 22px;">
                        <div id="toolbar-1011-targetEl" style="position: absolute; width: 140px; left: 0px; top: 0px; height: 1px;">
                        </div>
                    </div>
                </div>
                <div id="panel-1010-body" class="x-panel-body x-panel-body-default x-panel-body-default" style="width: 144px; height: 615px; left: 0px; top: 52px;">
                    <div></div>
                    <div id="panel-1010-clearEl" class="x-clear" role="presentation"></div>
                </div>
            </div>
            <div class="x-panel x-border-item x-box-item x-panel-default" style="padding: 3px; left: 150px; top: 0px; margin: 0px; width: 1751px; height: 673px;" id="panel-1013">
                <div class="x-panel-header x-docked x-panel-header-default x-horizontal x-panel-header-horizontal x-panel-header-default-horizontal x-top x-panel-header-top x-panel-header-default-top x-docked-top x-panel-header-docked-top x-panel-header-default-docked-top x-unselectable" id="panel-1013_header" style="-webkit-user-select: none; left: 3px; top: 3px; width: 1745px;">
                    <div id="panel-1013_header-body" class="x-panel-header-body x-panel-header-body-default x-panel-header-body-horizontal x-panel-header-body-default-horizontal x-panel-header-body-top x-panel-header-body-default-top x-panel-header-body-docked-top x-panel-header-body-default-docked-top x-panel-header-body-default-horizontal x-panel-header-body-default-top x-panel-header-body-default-docked-top x-box-layout-ct" style="width: 1733px;">
                        <div id="panel-1013_header-innerCt" class="x-box-inner " role="presentation" style="width: 1733px; height: 16px;">
                            <div id="panel-1013_header-targetEl" style="position: absolute; width: 1733px; left: 0px; top: 0px; height: 1px;">
                                <div class="x-component x-panel-header-text-container x-box-item x-component-default" style="text-align: left; left: 0px; top: 0px; margin: 0px; width: 1733px;" id="panel-1013_header_hd">
                                    <span id="panel-1013_header_hd-textEl" class="x-panel-header-text x-panel-header-text-default">Worksheet</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x-toolbar x-docked x-toolbar-default x-docked-top x-toolbar-docked-top x-toolbar-default-docked-top x-box-layout-ct" id="toolbar-1014" style="left: 3px; top: 28px; width: 1745px;">
                    <div id="toolbar-1014-innerCt" class="x-box-inner " role="presentation" style="width: 1741px; height: 22px;">
                        <div id="toolbar-1014-targetEl" style="position: absolute; width: 1741px; left: 0px; top: 0px; height: 1px;">
                        </div>
                    </div>
                </div>
                <div class="x-toolbar x-docked x-toolbar-default x-vertical x-toolbar-vertical x-toolbar-default-vertical x-docked-left x-toolbar-docked-left x-toolbar-default-docked-left x-box-layout-ct" id="toolbar-1016" style="left: 3px; top: 55px; height: 615px;">
                    <div id="toolbar-1016-innerCt" class="x-box-inner " role="presentation" style="height: 611px; width: 0px;">
                        <div id="toolbar-1016-targetEl" style="position: absolute; width: 0px; left: 0px; top: 0px; height: 1px;">
                        </div>
                    </div>
                </div>
                <div id="panel-1013-body" class="x-panel-body x-panel-body-default x-panel-body-default" style="width: 1740px; height: 615px; left: 5px; top: 52px;">
                    <div id="create"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    var myData = @Html.Raw(Model.GetData())
    Ext.create('Ext.data.Store', {
        storeId: 'sampleStore',
        fields: [
            { name: 'ID', type: 'string' },
            { name: 'NAME', type: 'string' },
            { name: 'MATERIAL', type: 'string' },
            { name: 'MANUFACTURER', type: 'string' },
            { name: 'LENGTH', type: 'float' },
            { name: 'WIDTH', type: 'float' },
            { name: 'HEIGHT', type: 'float' },
            { name: 'PRICE', type: 'decimal' }
        ],
        data: myData
    });

    var roleDom = Ext.getDom('create');

    Ext.create('Ext.grid.Panel', {
        title: 'Goods',
        store: Ext.data.StoreManager.lookup('sampleStore'),
        columns: [
            { text: 'Goods ID', dataIndex: 'ID', flex: 1 },
            { text: 'Name', dataIndex: 'NAME', flex: 1 },
            { text: 'Material', dataIndex: 'MATERIAL', flex: 1 },
            { text: 'Manufacturer', dataIndex: 'MANUFACTURER', flex: 1 },
            { text: 'Length', dataIndex: 'LENGTH', flex: 1 },
            { text: 'Width', dataIndex: 'WIDTH', flex: 1 },
            { text: 'Height', dataIndex: 'HEIGHT', flex: 1 },
            { text: 'Price', dataIndex: 'PRICE', flex: 1 },
            {
                xtype: 'actioncolumn', width: 50,
                items: [{
                    icon: '../Content/extjs/icons/edit.png',  // Use a URL in the icon config
                    tooltip: 'Edit',
                    triggerEvent: 'cellclick',
                    handler: function (grid, rowIndex, colIndex) {
                        var rec = grid.getStore().getAt(rowIndex);
                        var Id = rec.get('ID');
                        window.open('@Url.Action("Edit", "Goods")' + "?Id=" + Id, "_self")
                        //alert("Edit " + rec.get('ID'));
                    }
                },
                    {
                        icon: '../Content/extjs/icons/delete.gif',
                        tooltip: 'Delete',
                        handler: function (grid, rowIndex, colIndex) {
                            var rec = grid.getStore().getAt(rowIndex);
                            var Id = rec.get('ID');
                            window.open('@Url.Action("Delete", "Goods")' + "?Id=" + Id, "_self")
                            //alert("Terminate " + rec.get('ID'));
                        }
                    }, {
                        icon: '../Content/extjs/icons/buy.png',  // Use a URL in the icon config
                        tooltip: 'Buy',
                        triggerEvent: 'cellclick',
                        handler: function (grid, rowIndex, colIndex) {
                            var rec = grid.getStore().getAt(rowIndex);
                            var Id = rec.get('ID');
                            window.open('@Url.Action("Buy", "Goods")' + "?Id=" + Id, "_self")
                            //alert("Edit " + rec.get('ID'));
                        }
                    }]
            }
        ],
        height: 400,
        renderTo: roleDom,
        viewConfig: {
            stripeRows: true,
            enableTextSelection: true
        }
    });
</script>
